@font-face {
    font-family: "Courgette";
    src: url("..//fuentes/Courgette/Courgette-Regular.ttf");
    font-weight: bolder;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Courgette";

}
.header{
    background-image: url(../assets/imagenes/fondo.png);
    display: flex;
    align-items: center;
    min-height: 25vh;
    padding: 30px 0;
    
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 10px auto;
    list-style: none;

}
.menu .logo img {
    margin-top: 20px;
    width: 50%;
}
.menu .nav{
    padding-top: 20px;
}
.menu .nav ul li{
    
    list-style: none;
    position: relative;
    float: left;
}
.menu .nav ul li a{
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: rgb(231, 0, 165);
    display: block;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}




@media (max-width:991px) {
    .header{
        min-height: 20vh;
    }
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;

    }
    .menu .nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        
    }
    .menu .nav ul li{
        width: 100%;
    }
    .menu .nav ul li a{
        padding: 2px;
    }
    #menu:checked ~ .nav {
        display: initial;
        background-color: rgba(204, 144, 47, 0.812);

    }

    .menu .logo{
        position: absolute;
        bottom: 0%;
        left: 40%;
    }
    
    
}






h1{
    margin: 25px;
    text-align: center;
    font-size: 3rem;
    color: rgb(231, 0, 165);
}
p{
    margin: 25px;
    text-align: center;
    font-size: 1.5rem;
    color: #8e0047;
}

.contenedor-carrito{
    position: relative;
    left: 45%;
    width: 50%;
    background-color: rgb(231, 0, 165);
}

.contenedor-carrito .carrito-header{
    display: flex;
    justify-content: center;
}
.contenido-carrito .carrito-header h2{
    padding-top: 30px;
    padding-left: 30px;
    text-align: center;
    font-size: 2rem;
    
} 
.contenedor-carrito .carrito-header .cerrar-carrito{
    position:  relative;
    left: 40%;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #8e0047;
    cursor: pointer;
}
.contenedor-carrito .carrito-contenido{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.eliminar-carrito{
    width: 20%;
}


/* productos */
.contenedor-productos{
    margin: 50px;
}
.tarjetas-productos {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    
    
}
.tarjetas-productos img {
    background-color: #c36895;
    margin-top: 30px;
    width: 150px;
    height: 30vh;
}

.tarjetas-productos button{
    border: none;
    outline: 0;
    padding: 10px;
    color: #f5047c;
    background-color: black;
    text-align: center;
    width: 50%;
    font-size: 1.3rem;
    cursor: pointer;
    font-size: 1.3rem;
}
.tarjetas-productos button:hover{
    color: black;
    background-color: #8e0047;
}