@font-face {
    font-family: "Courgette";
    src: url("..//fuentes/Courgette/Courgette-Regular.ttf");
    font-weight: bolder;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Courgette";

}
.header{
    background-image: url(../assets/imagenes/fondo.png);
    display: flex;
    align-items: center;
    min-height: 25vh;
    padding: 30px 0;
    
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 10px auto;
    list-style: none;

}
.menu .logo img {
    margin-top: 20px;
    width: 50%;
}
.menu .nav{
    padding-top: 20px;
}
.menu .nav ul li{
    
    list-style: none;
    position: relative;
    float: left;
}
.menu .nav ul li a{
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    color: rgb(231, 0, 165);
    display: block;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}




@media (max-width:991px) {
    .header{
        min-height: 20vh;
    }
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;

    }
    .menu .nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        
    }
    .menu .nav ul li{
        width: 100%;
    }
    .menu .nav ul li a{
        padding: 2px;
    }
    #menu:checked ~ .nav {
        display: initial;
        background-color: rgba(204, 144, 47, 0.812);

    }

    .menu .logo{
        position: absolute;
        bottom: 0%;
        left: 40%;
    }
    
    
}






h1{
    margin: 25px;
    text-align: center;
    font-size: 3rem;
    color: rgb(231, 0, 165);
}
p{
    margin: 25px;
    text-align: center;
    font-size: 1.5rem;
    color: #8e0047;
}
.lista-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:  25px;
    row-gap: 25px;
    margin-top: 100px;

}

.contenido-carriro{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: rgb(204, 47, 186);
    height: 100vh;
    transition: 0.5;

}
.contenido-carriro .cerrar{
    display: flex;
}
.contenido-carriro .cerrar h2{
    padding-top: 30px;
    padding-left: 30px;
    text-align: center;
    font-size: 2rem;
    
} 
.contenido-carriro .cerrar .cerrar-carrito{
    position:  relative;
    left: 40%;
    font-size: 1.5rem;
    padding: 20px;
    background-color: #8e0047;
}
.contenido-carriro .total-compra{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #8e0047;
    font-size: 1.5rem;
    padding: 30px;
    cursor: pointer;
}

.precio-total{
    text-align: end;
}

.activar .contenido-carriro{
    left: calc(100% - 500px);
} 
.activar .contenedor{
    transform: translateX(-200px)
}




/* productos */
.contenedor-productos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tarjeta-producto {
    box-shadow: 0 5px 9px 0 #8e0047;
    max-width: 300px;
    margin: 10px;
    
}
.tarjeta-producto img {
    width: 150px;
    height: 30vh;
    padding: 20px;
    
    
}
.titulo-producto{
    padding: 10px;
    text-align: center;
   
}
.precio-producto{
    padding: 10px;
    text-align: center;
}
.boton-comprar{
    display: flex;
    justify-content: center;
    margin: 5px;
}