* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    display: flex;
    list-style: none;
    margin: 3px;
}
li{
    margin: 15px;
}
.botones-filtro{
    padding: 50px;
    background-color: rgba(45, 16, 33, 0.395);
}
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.card-img-top{
    
    height: 50vh;
}
.img-body{
    background-color: rgb(240, 185, 118);
}
.card-body{
    background-color: rgb(240, 185, 118);;
}
.contenido-modal{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imagen-producto-carrito{
    width: 25%;
}
.boton-modal{
    background-color: rgb(240, 185, 118);
    padding: 5px;
}
.cantidad{
    padding: 5px;
}

